BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: true
IncludeBlocks: Regroup

Cpp11BracedListStyle: true
